# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [2]:
# Write your code here
print("Data","Science","Mentorship","Program",sep="-",end="-" )
print("By","CampusX",sep="-")

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [3]:
# Write your code here
cel=float(input("Enter the temp in celsius"))
fah=((9/5)*cel)+32
print(fah)

Enter the temp in celsius36
96.8

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [4]:
# Write your code here
a=int(input("Enter the 1st number"))

b=int(input("Enter the 2nd number"))
t=0

t=b
b=a
a=t

print("THE SWAPPED NUMBER ARE",a,b)

Enter the 1st number2
Enter the 2nd number3
THE SWAPPED NUMBER ARE 3 2

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [5]:
# Write your code here
# Write your code here
p1x = int(input('enter x cood of 1st point'))
p1y = int(input('enter y cood of 1st point'))
p2x = int(input('enter x cood of 2nd point'))
p2y = int(input('enter y cood of 2nd point'))

distance = ((p2x - p1x)**2 + (p2y - p1y)**2)**0.5

print(round(distance,2))

enter x cood of 1st point2
enter y cood of 1st point3
enter x cood of 2nd point5
enter y cood of 2nd point6
4.24

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [6]:
# Write your code here
# Write your code here
p = int(input('Enter amount'))
t = int(input('Enter time period'))
r = float(input('Enter rate'))

interest = (p*t*r)/100

print('the interest is',interest)

Enter amount10000
Enter time period2
Enter rate6.8
the interest is 1360.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [12]:
# Write your code here
# Get input from the user
heads = int(input("Enter the total number of heads: "))
legs = int(input("Enter the total number of legs: "))

# Each dog has 4 legs, each chicken has 2 legs
# Let x be the number of dogs and y be the number of chickens
# We have the equations:
# x + y = heads
# 4x + 2y = legs

# Solve the equations to find the number of dogs and chickens
# Multiply the first equation by 2 and subtract it from the second equation to eliminate y
# Then, solve for x
x = (legs - 2 * heads) / 2
# Calculate the number of chickens using the value of x
y = heads - x

# Convert the numbers to integers
dogs = int(x)
chickens = int(y)

# Display the result
print("Number of dogs:", dogs)
print("Number of chickens:", chickens)

Enter the total number of heads: 6
Enter the total number of legs: 18
Number of dogs: 3
Number of chickens: 3

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [7]:
# Write your code here
# Write your code here
n = int(input('enter the number'))

result = (n*(n+1)*(2*n + 1))/6
print(result)

enter the number2
5.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [8]:
# Write your code here
# Write your code here
first_term = int(input('enter 1st term'))
second_term = int(input('enter 2nd term'))
n = int(input('enter the value of n'))

d = second_term - first_term

an = first_term + (n-1)*d

print(an)

enter 1st term3
enter 2nd term5
enter the value of n5
11

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [9]:
# Write your code here
# Write your code here
n1 = int(input('num1'))
d1 = int(input('den1'))
n2 = int(input('num2'))
d2 = int(input('den2'))

rn = n1*d2 + n2*d1
rd = d1*d2

print('{}/{}'.format(rn,rd))

num12
den14
num22
den26
20/24

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [10]:
# Write your code here
# Write your code here
import math

h_t = float(input('height'))
b_t = float(input('breadth'))
l_t = float(input('length'))

h_g = float(input('height of glass'))
r_g = float(input('radius of the glass'))

vol_tank = h_t*b_t*l_t
vol_glass = 3.14*r_g*r_g*h_g

print('no of glasses',math.floor(vol_tank/vol_glass))

height2
breadth3
length4
height of glass5
radius of the glass6
no of glasses 0